
/* hero scetion design start here 
*/
.hero_section{
    padding: 0;
}
.hero_section .flex_wrapper{
    height: 100%;
}
.hero_section .flex_wrapper  > div{
    display: flex;
    align-items: center;
}
.hero_section .flex_wrapper .hero_text{
    padding-left: 10%;
    background-image: url('./Assets/hero-img/Ellipse\ 8.svg');
    background-repeat: no-repeat;
    background-size: 20cqmin;
    background-position-x: left;
    background-position-y: top;
}
.hero_text .text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 10px;
}
.hero_text .text_wrapper h2{
    font-family: var(--google-san-font);
    font-size: 18px;
    text-transform: uppercase;
    color: var(--fifth-color);
    white-space: pre;
}
.hero_text .text_wrapper h1{
    white-space: pre;
}
.hero_text .text_wrapper h1 span{
    background-image: url('./Assets/hero-img/hero-text-decore.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: left;
    background-position-y: 80%;
    padding-inline: 15px;
}
.hero_text .text_wrapper p{
    max-width: 400px;
    font-size: 14px;
    margin-block: 10px;
}
.hero_text .text_wrapper .btn_wrapper{
    display: flex;
    grid-gap: 30px;
}
.hero_text .text_wrapper .btn_wrapper .paly_demo_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.hero_text .text_wrapper .btn_wrapper .paly_demo_btn span{
    display: flex;
    align-items: center; 
    width: 30px;
    height: 30px;
    padding-left: 2px;
    background-color: var(--fifth-color);
    border: 0;
    border-radius: 50%;
    box-shadow: .1px .1px 10px rgba(223, 105, 81, 0.5);
}
.hero_text .text_wrapper .btn_wrapper .paly_demo_btn span .icon{
    margin-inline: auto;
}


.hero_section .flex_wrapper .hero_img{
    padding-right: 10%;
    background-image: url('./Assets/hero-img/Decore.jpg');
    background-repeat: no-repeat;
    background-size: 75cqmin;
    background-position-x: right;
    background-position-y: top;
}
.hero_img .image_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_img .image_wrapper::before,
.hero_img .image_wrapper::after{
    content: '';
    background-image: url('./Assets/hero-img/airplane.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 25%;
    width: 25%;
    top: 8%;
    z-index: 10;
}
.hero_img .image_wrapper::before{
    left: 25%;
}
.hero_img .image_wrapper::after{
    right: -5%;
}
.hero_img .image_wrapper img{
    display: block;
    width: 100%;
    object-fit: cover;
}
/* end of hero section design*/


/* services section desing start here 
*/
.services_section{
    padding-block: 100px;
}
.services_section > .title{
    background-image: url('./Assets/Service-img/backgroundstars.jpg');
    background-repeat: no-repeat;
    background-size: 16cqh;
    background-position-x: right;
    background-position-y: top;
    padding-bottom: 70px;
    text-align: center;
}
.services_section > .title h2{}
.services_section > .title h3{
    padding-bottom: 10px;
}
.services_section > .content{
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.services_section > .content > .box,
.services_section > .content > .boxtwo .content{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #fff;
}
.services_section > .content > .box:hover{
    border: 0;
    border-radius: 36px;
    filter: drop-shadow(-1px 80px 20px rgba(226, 226, 226, 0.25));
}
.services_section > .content > .boxtwo{
    position: relative; 
    max-width: 300px; 
    max-height: 300px;
}
.services_section > .content > .boxtwo .content{
    position: relative;
    border: 0;
    border-radius: 36px;
    filter: drop-shadow(-1px 80px 20px rgba(226, 226, 226, 0.25));
    z-index: 1;
}
.services_section > .content > .boxtwo .bg_img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: -10%;
    bottom: -10%;
    background-image: url('./Assets/Service-img/backgroundrectangle.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
}
.services_section > .content > .box img,
.services_section > .content > .boxtwo .content img{
    height: 50px;
    width: auto;
    object-fit: cover;
}
.services_section > .content > .box h4{}
.services_section > .content > .box p{}
/*  end of services section desing  */



/* start of top destination design section
 */
 .top_destination_section{
    padding-block: 100px;
 }
 .top_destination_section > .title{
    padding-bottom: 70px;
    text-align: center;
 }
 .top_destination_section > .title h3{
    padding-bottom: 10px;
 }
 .top_destination_section > .content{
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
 }
 .top_destination_section > .content .box,
 .top_destination_section > .content .boxthree .content{
    position: relative;
    width: auto;
    max-width: 320px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
 }
 .top_destination_section > .content .boxthree{
    position: relative;
    width: auto;
    max-width: 320px;
    height: 380px;
 }
 .top_destination_section > .content .box.one{
    background-image: url('./Assets/tripdestination-img/destionationimg3.jpg');
 }
 .top_destination_section > .content .box.two{
    background-image: url('./Assets/tripdestination-img/destionationimg1.jpg');
 }
 .top_destination_section > .content .boxthree .content{
    background-image: url('./Assets/tripdestination-img/destionationimg2.jpg');
    z-index: 1;
 }
 .top_destination_section > .content .box .text,
 .top_destination_section > .content .boxthree .content .text{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    height: 80px;
    border: 0;
    border-radius: 0px 0px 30px 30px;
    background-color: #fff;
    filter: drop-shadow(-1px 80px 20px rgba(226, 226, 226, 0.25));
    padding: 15px;
 }
 .top_destination_section > .content .box .text > div, 
 .top_destination_section > .content .boxthree .content .text > div{
    display: flex;
    justify-content: space-between;
 }
 .top_destination_section > .content .box .text p,
 .top_destination_section > .content .boxthree .content .text p{
    font-size: 12px;
    padding: 5px;
 }
 .top_destination_section > .content .box .text p img,
 .top_destination_section > .content .boxthree .content .text p img{
    height: 15px;
    margin-right: 10px;
    object-fit: cover;
 }
 .top_destination_section > .content .boxthree .bng_img{
    position: absolute;
    top: 35%;
    right: -10%;
    width: 320px;
    height: 200px;
    background-image: url('./Assets/tripdestination-img/bgimg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: 0;
 }
 /* end of to destination design section */



 /* strat of book a trip design section
  */
  .book_trip_section{
    padding-block: 100px;
  }
  .book_trip_section > .content{
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
  }
  .book_trip_section > .content > div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .book_trip_section > .content .text > .title,
  .book_trip_section > .content .text .boxs{
    width: 70%;
  }
  .book_trip_section > .content .text > .title{
    padding-bottom: 40px;
    text-align: start;
  }
  .book_trip_section > .content .text > .title h3{
    padding-bottom: 10px;
    padding-left: 2px;
  }
  .book_trip_section > .content .text > .title h2{
    white-space: pre;
  }
  .book_trip_section > .content .text .boxs{ }
  .book_trip_section > .content .text .boxs .box{
    display: flex;
    justify-content: center;
    grid-gap: 30px;
    margin-bottom: 30px;
  }
  .book_trip_section > .content .text .boxs .box img{
    height: 50px;
    object-fit: cover;
  }
  .book_trip_section > .content .text .boxs .box .box_text{}
  .book_trip_section > .content .text .boxs .box .box_text .box_title{
    font-size: 16px;
    font-weight: bold;
  }
  .book_trip_section > .content .text .boxs .box .box_text .box_paragraph{
    font-size: 15px;
  }
  

  .book_trip_section > .content .img{}
  .book_trip_section > .content .img img{
    width: 100%;
    object-fit: cover;
  }
  /* end of book a trip design section */



  /* start of testimonial design section
   */
   .testimonials_section{
    padding-bottom: 100px;
    min-height: 400px;
   }
   /* end of testimonail design section */



   /* 
   start of trusted companies section design */
   .trusted_companies_curosel{
    padding-bottom: 50px;
    min-height: 100px;
   }
   .trusted_companies_curosel .curosel_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   /* end of trusted companies section design */



   /* 
    start of subscribtion section design
    */
    .subscription_section{
        padding-block: 100px;
    }
    .subscription_section > .div_wrapper{
        position: relative;
        min-height: 400px;
        border-radius: 130px 20px 20px 20px ;
        background-color: rgba(223, 215, 249, 1);
        background-image: url('./Assets/subscription-img/subbgimg-big.svg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: bottom;
        background-size: 30cqmax;
    }
    .subscription_section > .div_wrapper::before{
        position: absolute;
        content: '';
        width: 106.5%;
        height: 111%;
        background-image: url('./Assets/subscription-img/subsectionbgimg.svg');
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: bottom;
        background-size: 7cqmax;
        z-index: 1;
    }
    .subscription_section > .div_wrapper > .title{
        position: relative;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('./Assets/subscription-img/subbgimg-sm.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 15cqmax;
    }
    .subscription_section > .div_wrapper > .title::before{
        position: absolute;
        top: -6%;
        right: -1%;
        content: '';
        width: 50px;
        height: 50px;
        background-image: url('./Assets/subscription-img/subnav-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    .subscription_section > .div_wrapper > .title p{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding-inline: 50px;
    }
    .subscription_section > .div_wrapper > .content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* end of subcription section design */
    

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 768px) and (max-width: 1024.9px){


    /* hero scetion design start here 
    */
    .hero_section .flex_wrapper .hero_text{
        padding-left: 5%;
    }
    .hero_section .flex_wrapper .hero_img{
        padding-right: 5%;
    }
    /* end of hero scetion design*/

}

@media (min-width: 481px) and (max-width: 767.99px){

     /* hero scetion design start here 
    */
    .hero_section .flex_wrapper .hero_text{
        padding-top: 64px;
        padding-left: 3%;        
    }
    .hero_text .text_wrapper h2{
        font-size: 16px;
    }
    .hero_section .flex_wrapper .hero_img{
        padding-right: 3%;
    }
    /* end of hero scetion design*/


     /* 
     start of subcription section design */

     .subscription_section > .div_wrapper > .title p{
        font-size: 19px;
    }
      /* end of subcription section design */
}

@media (min-width: 320px) and (max-width: 480px){
     /* hero scetion design start here 
    */
    .hero_section .flex_wrapper .hero_text{
        padding-top: 84px;
        padding-left: 3%;
    }
    .hero_text .text_wrapper h2{
        font-size: 12px;
    }
    .hero_text .text_wrapper p{
        max-width: 340px;
    }
    .hero_section .flex_wrapper .hero_img{
        padding-right: 3%;
    }
    /* end of hero scetion design*/


    /* services section desing start here 
    */
    .services_section > .title{
        background-size: 10cqh;
    }
    /* end of services section desing */


     /* 
     start of subcription section design */

     .subscription_section > .div_wrapper > .title p{
        font-size: 19px;
    }
      /* end of subcription section design */
    
}